* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  height: 93vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/b77751c7-0e02-4941-af39-30514ff6b3e2/bbf420d6-9b72-4487-9abb-bc6db03c803e/ME-en-20211026-popsignuptwoweeks-perspective_alpha_website_large.jpg")
      no-repeat;
  background-size: 100%;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 57px;
}

nav img {
  height: 45px;
  margin-top: 5px;
}

nav .buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav div div {
  border: 1px solid #a5a5a5;
}

nav select {
  background: none;
  color: #fff;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 6px 3px 6px 0;
  margin-right: 5px;
}

nav select option {
  background-color: #808080;
  border: none;
}

nav i {
  color: #fff;
  padding-left: 6px;
  font-size: 13px;
  margin-right: -5px;
}

nav button {
  background-color: #e50c14;
  color: #fff;
  padding: 8px 15px;
  border-radius: 3px;
  border: none;
  font-size: 1rem;
  margin-left: 2rem;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65%;
  text-align: center;
  padding-top: 95px;
}

.intro h1 {
  font-size: 4rem;
  max-width: 800px;
}

.intro h3 {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 20px 0;
}

.intro h4 {
  font-size: 1.3rem;
  font-weight: 400;
  padding-bottom: 20px;
}

.intro form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.intro input {
  font-size: 1rem;
  padding: 25px 10px;
  width: 35%;
  outline: none;
}

.intro button {
  font-size: 2rem;
  padding: 18px 40px;
  border: none;
  background-color: #e50914;
  color: #fff;
  cursor: pointer;
}

.intro button:hover {
  background-color: #f80915;
}

.intro p {
  color: #fea025;
  padding-top: 10px;
  margin-right: auto;
  width: 56%;
  display: none;
}

.underline {
  width: 100%;
  height: 8px;
  background-color: #222222;
}

.tv {
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tv div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.tv h1,
.everywhere h1 {
  font-size: 3rem;
  padding-bottom: 20px;
}

.tv h2,
.everywhere h2 {
  font-size: 1.6rem;
  max-width: 500px;
  font-weight: 500;
  line-height: 35px;
}

.videoIn,
.videoInit {
  width: 600px;
  height: 500px;
  position: relative;
}

.videoIn:after,
.videoInit::after {
  content: "";
  display: block;
  background: url("https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png")
    no-repeat top left transparent;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: 2;
}

.videoIn video {
  position: absolute;
  top: 95px;
  left: 75px;
  width: 500px;
  height: 270px;
  z-index: 1;
}

.download {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 70px 0;
}

#phoneImg {
  height: 350px;
}

.stranger {
  background-color: #000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #6b6b6b;
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: -8rem;
  position: relative;
}

.stranger div:first-child {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.stranger img {
  height: 5rem;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
}

.stranger h3 {
  font-weight: 600;
  font-size: 1rem;
}

.stranger h4 {
  color: #0071eb;
  font-weight: 200;
}

#gif {
  height: 3rem;
  margin: 0;
}

.download h1,
.kids h1 {
  font-size: 3rem;
  padding-bottom: 20px;
  max-width: 550px;
}

.download h2,
.kids h2 {
  font-size: 1.6rem;
  max-width: 500px;
  font-weight: 500;
  line-height: 30px;
}

.everywhere {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.videoInit::after {
  background: url("https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile.png")
    no-repeat top left transparent;
}

.videoInit video {
  position: absolute;
  top: 20px;
  left: 120px;
  width: 400px;
  height: 270px;
  z-index: 1;
}

.kids {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}

.kids img {
  height: 400px;
  padding-right: 40px;
}

.questions {
  padding: 70px 45px;
  text-align: center;
}

.questions > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0.5rem auto;
  background-color: #333;
  /* padding: 25px 30px; */
}

.questions div div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 25px 30px;
  border: 1px solid black;
}

.questions p {
  text-align: start;
  line-height: 35px;
  font-size: 1.8rem;
  padding: 25px 30px 20px 30px; /*top right bottom left*/
}

.questions h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

.questions h2 {
  font-weight: 200;
  font-size: 1.7rem;
}

.questions #plus {
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #fff;
  font-weight: 100;
  cursor: pointer;
}

.hide {
  display: none;
}
